@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
  color: gray;
}

header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header > section {
  background-color: rgba(50, 50, 50, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

img {
  width: 15%;
}

@media (min-width: 300px) {
  .about-a,
  .about-a > section,
  .left-a,
  .right-a,
  .left-a > figure,
  .left-a figcaption,
  .right-a > article,
  .right-a > section,
  .bottom-a > article,
  .bottom-a > section,
  .bottom-a > section > aside,
  .bottom-a form {
    display: flex;
    flex-direction: column;
  }
  .about-a {
    align-items: center;
    row-gap: 10vh;
    padding: 15vh 0;
  }
  .top-a {
    width: 90%;
    row-gap: 10vh;
  }
  .left-a {
    row-gap: 5vh;
  }
  .left-a > figure > img {
    width: 100%;
  }
  .left-a figcaption {
    background-color: #f2f2f4;
    align-items: center;
    row-gap: 3vh;
    padding: 10%;
  }
  .left-a figcaption > figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .left-a figcaption aside {
    display: flex;
    align-items: center;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
  }
  .left-a figcaption img {
    width: 5vh;
    height: 5vh;
    background-color: skyblue;
    border-radius: 50%;
  }
  .left-a figcaption i {
    color: #ff4800;
    font-size: 24px;
  }
  .left-a figcaption h4 {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .left-a figcaption span {
    font-size: 20px;
    color: gray;
  }
  .left-a figcaption > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .left-a figcaption p {
    font-size: 20px;
  }
  .left-a figcaption a {
    color: #ff4800;
    font-weight: 600;
    font-size: 20px;
  }
  .right-a {
    row-gap: 5vh;
  }
  .right-a > aside {
    background-color: #f2f2f4;
    display: flex;
    justify-content: center;
  }
  .right-a form {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 100%;
    height: 7vh;
  }
  .right-a input {
    border: none;
  }
  .right-a [type=text] {
    width: 75%;
    padding: 0 5%;
    font-size: 20px;
  }
  .right-a [type=submit] {
    width: 15%;
    background-color: #ff4800;
    font-size: 20px;
  }
  .right-a h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .right-a > article {
    row-gap: 3vh;
  }
  .right-a > article > ul {
    background-color: #f2f2f4;
    padding: 10%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
  }
  .right-a > article li {
    background-color: white;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-a > article strong {
    color: #ff4800;
  }
  .right-a > article a {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  .right-a > article span {
    background-color: #f2f2f4;
    padding: 0 3%;
    font-weight: bolder;
  }
  .right-a > section {
    row-gap: 3vh;
  }
  .right-a > section > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .right-a > section figure {
    background-color: #f2f2f4;
    display: flex;
    height: 10vh;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .right-a > section ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1vh;
  }
  .right-a > section li {
    background-color: #f2f2f4;
    font-size: 22px;
    padding: 1% 4%;
  }
  .right-a figure > img {
    width: 25%;
  }
  .right-a figure p {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
  }
  .right-a > figure > img {
    width: 100%;
  }
  .right-a blockquote {
    background-color: #f2f2f4;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    padding: 10%;
  }
  .right-a blockquote > p {
    font-size: 20px;
    text-align: center;
  }
  .right-a blockquote > a {
    background-color: #ff4800;
    width: 50%;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    padding: 3% 0;
  }
  .bottom-a {
    width: 80%;
    row-gap: 3vh;
  }
  .bottom-a > article > aside {
    background-color: #ff4800;
    text-align: center;
    padding: 5% 10%;
    font-size: 28px;
  }
  .bottom-a i {
    color: whitesmoke;
  }
  .bottom-a span {
    font-weight: 700;
  }
  .bottom-a iframe {
    width: 100%;
    height: 50vh;
  }
  .bottom-a > section {
    row-gap: 3vh;
  }
  .bottom-a strong {
    color: #ff4800;
    font-size: 24px;
  }
  .bottom-a h2 {
    font-size: 40px;
  }
  .bottom-a form {
    background-color: #f2f2f4;
    padding: 10%;
    row-gap: 2vh;
  }
  .bottom-a input,
  .bottom-a textarea {
    padding: 5% 0 5% 10%;
    font-size: 20px;
    border: none;
  }
  .bottom-a textarea {
    height: 10vh;
  }
  .bottom-a [type=submit] {
    background-color: #ff4800;
    width: 70%;
    text-align: center;
    padding-left: 0%;
    color: #f2f2f4;
  }
}
@media (min-width: 300px) {
  footer {
    background-color: #1f1f2e;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h3 {
    color: #ff4800;
    font-size: 24px;
  }
  footer > section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  footer > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    text-align: center;
    padding: 3%;
    border-top: 1px solid #f2f2f4;
  }
  footer > article > p {
    width: 90%;
    color: #f2f2f4;
  }
  footer > article > ul {
    display: flex;
    list-style-type: none;
    -moz-column-gap: 8vw;
         column-gap: 8vw;
  }
  footer > article a {
    color: #f2f2f4;
  }
  footer span {
    color: #ff4800;
  }
  footer .news,
  footer .link,
  footer .touch {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
  }
  .touch > section > ul {
    display: flex;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  .touch > section > ul i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f2f2f4;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    transition: 0.6s;
  }
  .touch i,
  .touch address,
  .touch a {
    color: #f2f2f4;
  }
  .touch > ul {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .touch > ul li {
    display: flex;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
  }
  .link ul {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    color: #f2f2f4;
  }
  .link li {
    display: flex;
    align-items: center;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
  }
  .link a {
    color: #f2f2f4;
  }
  .news > section {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .news form {
    display: flex;
  }
  .news p {
    color: #f2f2f4;
  }
  .news input {
    padding: 3%;
    border: none;
  }
  .news [type=submit] {
    background-color: #ff4800;
    border: none;
    color: #f2f2f4;
    border: 1px solid #ff4800;
    transition: 0.6s;
  }
}
@media (min-width: 700px) {
  .about-a {
    padding: 10vh 0;
  }
  .top-a {
    width: 80%;
  }
  .left-a figcaption {
    padding: 5%;
    align-items: flex-start;
  }
  .left-a figcaption > figure {
    width: 70%;
    justify-content: flex-start;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .left-a figcaption h4 {
    font-size: 24px;
  }
  .left-a figcaption p {
    font-size: 16px;
  }
  .left-a figcaption a {
    font-size: 16px;
  }
  .left-a figcaption a:hover {
    font-weight: bold;
    color: crimson;
  }
  .right-a form {
    padding: 3% 5%;
  }
  .right-a [type=text] {
    width: 90%;
    font-size: 18px;
  }
  .right-a [type=submit] {
    width: 10%;
    transition: 0.6s;
  }
  .right-a [type=submit]:hover {
    font-size: 30px;
  }
  .right-a > article > ul {
    padding: 5%;
  }
  .right-a > article li {
    padding: 1%;
  }
  .right-a > article a {
    font-size: 20px;
  }
  .right-a > article a:hover {
    text-decoration: underline;
  }
  .right-a > section figure {
    width: 70%;
    height: 7vh;
  }
  .right-a > section li {
    font-size: 16px;
    padding: 1% 2%;
  }
  .right-a figure > img {
    width: 20%;
  }
  .right-a figure p {
    font-size: 14px;
  }
  .right-a > figure > img {
    width: 100%;
  }
  .right-a blockquote {
    padding: 5%;
  }
  .right-a blockquote > p {
    font-size: 16px;
  }
  .right-a blockquote > a {
    width: 25%;
    padding: 2% 0;
    font-size: 16px;
  }
  .right-a blockquote > a:hover {
    background-color: transparent;
    color: #ff4800;
  }
  .bottom-a > article > aside {
    padding: 3% 0;
    font-size: 24px;
  }
  .bottom-a span {
    font-weight: 500;
  }
  .bottom-a iframe {
    height: 40vh;
  }
  .bottom-a strong {
    font-size: 20px;
  }
  .bottom-a h2 {
    font-size: 30px;
  }
  .bottom-a form {
    padding: 5%;
  }
  .bottom-a input,
  .bottom-a textarea {
    padding: 3% 0 3% 5%;
    font-size: 16px;
  }
  .bottom-a textarea {
    height: 8vh;
  }
  .bottom-a [type=submit] {
    width: 30%;
  }
  .bottom-a [type=submit]:hover {
    background-color: transparent;
    color: #ff4800;
  }
}
@media (min-width: 700px) {
  footer {
    width: 100%;
  }
  footer > section {
    flex-direction: row;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
    width: 90%;
  }
  footer > article {
    width: 94%;
  }
  footer > article > ul {
    width: 90%;
    justify-content: end;
  }
  .touch {
    width: 60%;
  }
  .touch > section > ul {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
  .touch a:hover i {
    background-color: #f2f2f4;
    color: #1f1f2e;
  }
  .link {
    width: 100%;
  }
  .link > ul {
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
}
@media (min-width: 1000px) {
  .about-a > .top-a {
    flex-direction: row;
    justify-content: space-between;
  }
  .left-a {
    width: 67%;
  }
  .left-a figcaption {
    row-gap: 1vh;
  }
  .left-a img {
    height: 55vh;
  }
  .right-a {
    width: 30%;
  }
  .right-a form {
    width: 80%;
    padding: 10%;
  }
  .right-a [type=text] {
    width: 80%;
  }
  .right-a [type=submit] {
    width: 20%;
  }
  .right-a > section figure {
    width: 100%;
  }
  .right-a > section li {
    padding: 1% 5%;
  }
  .right-a figure p {
    font-size: 16px;
  }
  .right-a blockquote {
    padding: 10%;
  }
  .right-a blockquote > a {
    width: 40%;
  }
  .about-a > .bottom-a {
    flex-direction: row;
    justify-content: space-between;
  }
  .bottom-a > article {
    width: 37%;
  }
  .bottom-a > section {
    width: 60%;
  }
  .bottom-a iframe {
    height: 65vh;
  }
  .bottom-a form {
    padding: 4%;
  }
  .bottom-a input,
  .bottom-a textarea {
    padding-left: 3%;
  }
  .bottom-a [type=submit] {
    width: 25%;
  }
}
@media (min-width: 1000px) {
  footer > section {
    -moz-column-gap: 7vw;
         column-gap: 7vw;
  }
  footer > article {
    flex-direction: row;
    -moz-column-gap: 15vw;
         column-gap: 15vw;
    padding: 1%;
    width: 98%;
  }
  footer > article ul {
    justify-content: center;
  }
  footer > article a:hover {
    text-decoration: underline;
  }
  .touch > ul li {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
  .touch > ul a:hover {
    text-decoration: underline;
  }
  .link {
    width: 80%;
  }
  .link ul li {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
  .link a:hover {
    text-decoration: underline;
  }
  .news input {
    width: 70%;
  }
  .news [type=submit] {
    width: 30%;
  }
  .news [type=submit]:hover {
    background-color: transparent;
    color: #f2f2f4;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */