@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mobileScreen:300px;
$tabletScreen:700px;
$desktopScreen:1000px;

$defaultColor:#ff4800;
$footerColor:#1f1f2e;
$grayColor:#f2f2f4;

$fontFamily:'Kanit', sans-serif;
