@media(min-width: $desktopScreen){

    .logistic-services{
        > section{
            flex-direction: row;
            > article{
                width: 25%;
            }
        }
    }

    .quote{ 
        > section{
            flex-direction: row;
            column-gap: 2vw;
            width: 90%;
            padding-top: 0vh;
            > article{
                justify-content: center;
            }
        }
        form{
            width: 80%;

        }

        [type="submit"]:hover{
            background-color: transparent;
            color: $footerColor;
            cursor: pointer;
        }
    }

    .packages{
        > section{
            justify-content: center;
            column-gap: 2vw;
            > article{
                height: 65vh;
            }
        }

        a:hover{
            background-color: transparent;
            color: $defaultColor
        }
    }
}