@media (min-width:$desktopScreen) {

    .about > .top-a {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-a {
        width: 70%;
    }

    .right-a {
        width: 29%;
    }

}