@media (min-width:$desktopScreen) {

    .about > .top-a {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-a {
        width: 67%;
    }

    .right-a {
        width: 30%;

        form {
            width: 80%;
            padding: 10%;
        }
    }


}