img {
     width:15%;
}

@media (min-width:$mobileScreen) {

     .about,
     .about > section,
     .left-a,
     .right-a,
     .left-a > figure,
     .left-a figcaption,
     .right-a > article,
     .bottom-a > article
     .bottom-a > section,
     .bottom-a > section > aside,
     .bottom-a form {
          @include flex-column;
     }

     .about {
          align-items: center;
     }

     .about > section {
          width: 90%;
     }

     .left-a {
          row-gap: 7vh;
     }

     .left-a > figure {
          background-color: whitesmoke;
     }

     .left-a img {
          width: 100%;
     }

}


