@media(min-width: $desktopScreen){
    footer{
        > section{
            column-gap: 7vw;
        }
        > article{
            flex-direction: row;
            column-gap: 15vw;
            padding: 1%;
            width: 98%;
            ul{
                justify-content: center;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }

    .touch{
        > ul{
            li{
                column-gap: 1vw;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }

    .link{
        width: 80%;
        ul{
            li{
                column-gap: 1vw;
            }
        }

        a:hover{
            text-decoration: underline;
        }

    }

    .news{
        input{
            width: 70%;
        }

        [type="submit"]{
            width: 30%;
            
        }

        [type="submit"]:hover{
            background-color: transparent;
            color: $grayColor;
            cursor: pointer;
        }

    }

}
