@media(min-width: $mobileScreen){


    footer{
        background-color: $footerColor;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h3{
            color: $defaultColor;
            font-size: 24px;
        }
    
        > section{
            padding-top: 10vh;
            padding-bottom: 10vh;
            width: 80%;
            @include columnRow(3vh)
        }
    
        > article{
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            align-items: center;
            text-align: center;
            padding: 3%;
            border-top: 1px solid $grayColor;
    
            > p{
                width: 90%;
                color: $grayColor;
            }
    
            > ul{
                display: flex;
                list-style-type: none;
                column-gap: 8vw;
            }
    
            a{
                color: $grayColor;
            }
    
        }
    
        span{
            color: $defaultColor;
        }
    
        .news,
        .link,
        .touch {
            display: flex;
            flex-direction: column;
            row-gap: 3vh;
        }
    
        
    }
    
    .touch{
        > section{
            > ul{
                display: flex;
                column-gap: 5vw;
                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $grayColor;
                    border-radius: 50%;
                    width: 4vh;
                    height: 4vh;
                    transition: .6s;
                }
            }
        }
    
    
        i,
        address,
        a{
            color: $grayColor;
        }
    
        > ul{
            @include columnRow(2vh);
            li{
                display: flex;
                column-gap: 2vw;
    
            }
        }
    }
    
    .link{
        ul{
            @include columnRow(1vh);
            color: $grayColor;
        }
    
        li{
            display: flex;
            align-items: center;
            column-gap: 2vw;
        }
    
        a{
            color: $grayColor;
        }
    }
    
    .news{
        > section{
            @include columnRow(2vh);
        }
    
        form{
            display: flex;
        }
    
        p{
            color: $grayColor;
        }
    
        input{
            padding: 3%;
            border: none;
        }
    
        [type="submit"]{
            background-color: $defaultColor;
            border: none;
            color: $grayColor;
            border: 1px solid $defaultColor;
            transition: .6s;
        }
    
    }
}