@media (min-width: $mobileScreen){


  h6{
    color: $defaultColor;
    font-size: 18px;
    text-transform: uppercase;
  }
  .home h2{
    font-size: 28px;
    color: $footerColor;
  }
  a{
    text-decoration: none;
  }
  img{
    height: 50vh;
  }
  /*header-top*/
  .header-top{
    background-color: $footerColor;
    @include columnRow(1vh);
    align-items: center;
    padding: 2%;
    p,i,a{
      color: whitesmoke;
    }
    a:hover{
      transition: .6s;
      color: lightblue;
    }
    article{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    ul{
      width: 50%;
      display: flex;
    }
    li{
      width: 100%;
      display: flex;
    }
  }
  /*navigation*/
  nav{
    width: 95%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 8vh;
    padding-left: 2vh;
    >ul,
    >a{
      display: none;
    }
    >section{
      display: flex;
      align-items: center;
      padding-left: 2%;
    }
    i{
      font-size: 24px;
      padding-right: 5%;
      color: $defaultColor;
    }
    h2{
      text-transform: uppercase;
      color: $defaultColor;
    }
    details{
      width: 94%;
      position: absolute;
      text-align: right;
      >ul{
        width: 100%;
        position: absolute;
        list-style-type: none;
        background-color: white;
        width: 100%;
        @include flex-column;
        text-align: left;
      }
      li{
        width: 100%;
        display: flex;
      }
      a{
        width: 100%;
        height: 100%;
        padding: 2%;
        color: dimgrey;
        text-transform: capitalize;
        &:hover{
          background-color: $defaultColor;
          color: white;

        }
      }
    }
    summary{
      border: 1px solid lightgray;
      padding: 2%;
      color: dimgrey;
    }
  }
  /*header*/
  header{
    height: 60vh;
    article{
      width: 100%;
      @include columnRow(3vh);
      align-items: center;

    }
    h3{
      font-size: 30px;
      color: $defaultColor;
    }
    h1{
      width: 50%;
      font-size: 36px;
      font-weight: 800;
      text-align: center;
    }
    form{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    input{
      width: 100%;
      padding: 3%;
      border: none;
    }
    [type="text"]{
      background-color:white;
      color: $grayColor;
      width: 25vh;
    }
    [type="submit"]{
      background-color: $defaultColor;
      color: white;
      transition: .6s;
      width: 15vh;
      &:hover{
        border: 2px solid $defaultColor;
        background-color: transparent;
      }
    }

  }

  /*main*/
  .home{
    @include columnRow(10vh);
    padding: 10vh 0;
  }
  /*about*/
  .about{
    @include columnRow(3vh);
    align-items: center;
    > figure{
      width: 85%;
      background-color: $defaultColor;

      > figcaption{
        display: flex;
        justify-content: center;
      }
    }
    img{
      width: 100%;
      height: 35vh;
    }
    h4{
      padding: 3%;
      font-size: 24px;
      color: $footerColor;
    }
    > article{
      width: 85%;
      @include columnRow(3vh);

    }
    h2{
      width:80%;
    }
    aside{
      display: flex;
      column-gap: 2vh;
      align-items: center;
    }
    span{
      width: 7vh;
      height: 7vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $footerColor;
      background-color: $defaultColor;
      border-radius: 50%;
      border: 5px solid #ffab8a;
    }
    i{
      font-size: 20px;
    }
    a{
      font-size: 20px;
      font-weight: 600;
      color: $footerColor;
    }
  }
  /*choose*/
  .choose{
    background-color: $grayColor;
    @include columnRow(3vh);
    align-items: center;
    padding-bottom: 8vh;
    >figure,
    >article{
      width: 85%;
    }
    >article{
      @include columnRow(3vh);
      >a{
        background-color: $defaultColor;
        color: white;
        width: 35%;
        text-align: center;
        padding: 2%;
        transition: .6s;

        &:hover{
          border: 2px solid $defaultColor;
          color: $defaultColor;
          background-color: transparent;
        }
      }
    }
    img{
      width: 100%;
      height: 60vh;
    }
    h2{
      width: 70%;
    }
    ul{
      @include columnRow(1vh);
      list-style-type: none;
      li{
        display: flex;
        align-items: center;
        column-gap: 1vh;
      }
      i{
        color: $defaultColor;
      }
      a{
        color:$footerColor ;
        text-transform: capitalize;
      }
    }
  }
  /*team*/
  .team,
  .team > article,
  .blog,
  .blog > article{
    @include columnRow(3vh);
    align-items: center;
  }
  .team > section,
  .blog > section{
    width: 70%;
    text-align: center;
  }
  .team{
    >article{
      width: 85%;
      row-gap: 8vh;
    }
    figure{
      @include flex-column;
      width: 100%;
      background-color: $grayColor;
      border-bottom: 4px solid $defaultColor;
    }
    img{
      width: 100%;
    }
    figcaption{
      padding: 3%;
      @include flex-column;
      align-items: center;

      h5{
        font-size: 18px;
        text-transform: capitalize;
      }
      small{
        color: dimgrey;
        text-transform: capitalize;
        padding-bottom: 2%;
      }
    }
    aside{
      display: none;
    }

  }
  /*blog*/
  .blog{
    >article{
      width: 85%;
      row-gap: 8vh;
    }
    figure{
      width: 100%;
      background-color: $grayColor;
      @include flex-column;
      align-items: center;

      >img{
        width: 100%;
        height: 35vh;
      }
    }
    figcaption{
      width: 85%;
      padding: 8%;
      @include columnRow(2vh);
      img{
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
      }

      i{
        font-size: 20px;
        color: $defaultColor;
      }
    }
    h3{
      font-size: 20px;
    }
    ul{
      width: 100%;
      display: flex;
      list-style-type: none;
      >li{
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2vh;
      }
      span{
        width: 30%;
        color: dimgray;
      }
    }
    aside{
      width: 39%;
      display: flex;
      align-items: center;
      column-gap: 1vh;
      border-bottom: 1px solid $defaultColor;
      i{
        font-weight: 600;
      }
    }
    a{
      color: $defaultColor;
      text-transform: uppercase;
      transition: .6s;
      &:hover{
        color: $footerColor;
      }
    }


  }
  /*footer*/
  footer,
  footer > section,
  footer > article,
  .touch,
  .touch > ul,
  .link,
  .link > ul,
  .news,
  .news > section{
    @include flex-column
  }
  footer{
    background-color: $footerColor;
    > section{
      padding: 10vh 5%;
      row-gap: 5vh;
      border-bottom: 1px solid dimgray;
    }
    > article{
      row-gap: 2vh;
      align-items: center;
      padding: 5%;
      p{
        width: 95%;
        text-align: center;
        font-size: 16px;
      }
      ul{
        width: 70%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
      }
    }
    h3,span{
      color: $defaultColor;
    }
    h3{
      font-size: 26px;
    }
    li,a,p{
      color: white;
    }
  }
  /*touch*/
  .touch{
    row-gap: 3vh;
    >ul{
      row-gap: 2vh;
      li{
        display: flex;
        align-items: center;
        column-gap: 1vh;
      }
    }
    > section{
      > ul{
        width: 45%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
      }
      li{
        display: flex;
        align-items: center;

      }
      a{
        width: 5vh;
        height: 5vh;
        border: 1px solid white;
        border-radius: 50%;
        text-align: center;

      }
    }
  }
  /*link*/
  .link{
    row-gap: 3vh;
    >ul{
      list-style-type: none;
      row-gap: 2vh;
    }
    a{
      font-size: 18px;
      &:hover{
        border-bottom: 1px solid white;
      }
    }
  }
  /*news*/
  .news{
    row-gap: 3vh;
    > section{
      width: 100%;
      row-gap: 2vh;
    }
  }
  form{
    width: 100%;
    display: flex;
    input{
      width: 100%;
      padding: 3%;
      border: none;
    }
    [type="text"]{
      background-color:white;
      color: $grayColor;
      width: 22vh;
    }
    [type="submit"]{
      background-color: $defaultColor;
      color: white;
      transition: .6s;
      width: 15vh;
      &:hover{
        border: 2px solid $defaultColor;
        background-color: transparent;
      }
    }

  }

}