@media (min-width: $mobileScreen){

  img{
    width: 50vh;
  }
  /*header-top*/
  .header-top{
    background-color: $footerColor;
    p,i,a{
      color: whitesmoke;
    }
    ul{
      display: flex;
    }
  }


}

