@media (min-width: $tabletScreen){


  h6{
    font-size: 24px;
  }
  .home h2{
    font-size: 38px;
  }

  /*header-top*/
  .header-top{
    p{
      font-size: 18px;
    }
    ul{
      width: 30%;
    }
    a{
      font-size: 20px;
    }
  }

  /*header*/
  header{
    height: 40vh;
    h3{
      font-size: 40px;
    }
    h1{
      width: 100%;
      font-size: 55px;
    }
    [type="text"]{
      width: 30vh;
    }
    input{
      font-size: 20px;
    }

  }
  /*about*/
  .about{
    img{
      height: 50vh;
    }
    h4{
      font-size: 28px;
    }
    i{
      font-size: 30px;
    }
    span{
      width: 6vh;
      height: 6vh;
    }
    a{
      font-size: 26px;
    }
  }
  /*choose*/
  .choose,
  .about{
    h2{
      width: 90%;
      font-size: 38px;
    }
    p{
      font-size: 20px;
    }
    >article{
      >a{
        width: 10vh;
      }
    }
    ul{
      i{
        font-size: 20px;
      }
      a{
        font-size: 20px;
      }
    }
  }
  /*team*/
  .team{
    >article{
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3vh;
      justify-content: center;
    }
    figure{
      width: 47%;
    }
    img{
      height: 30vh;
    }
  }
  /*blog*/
  .blog{
    >article{
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3vh;
      justify-content: center;
    }
    figure{
      width: 47%;
      >img{
        height: 20vh;
      }
    }
    ul{
      column-gap: 3vh;
      img{
        width: 5vh;
        height: 5vh;
      }
      li{
        column-gap: 1vh;
      }
    }
    h3{
      font-size: 24px;
    }
    p{
      font-size: 20px;
    }

  }
  /*footer*/
  footer > section{
    flex-direction: row;
    justify-content: space-between;
  }
  .touch{
    width: 20%;
  }
  .link{
    width: 20%;
    ul{
      row-gap: 1vh;
    }
  }
  .news{
    width: 47%;
  }
  footer > article{
    row-gap: 1vh;
    p{
      text-align: left;
    }
    ul{
      width: 100%;
      justify-content: flex-end;
      column-gap: 2vh;

    }
  }





}